{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    {% if user.is_authenticated %}
        {% if not user.likedPosts.all  %}
            <h1>You are currently not following any post!</h1>
        {% else %}
        <h3>Posts you are following:</h3>
            <div id="allPosts">

            </div>
        {% endif %}
    {% endif %}
    <script src="{% static 'network/loadContent.js' %}" ></script>
    <script src="{% static 'network/loadFollowing.js' %}"></script>
{% endblock %}