{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <h1>ALL POSTS</h1>
    <div class="PostBlockMain">
        <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}

            <h3>New Post</h3>
            <input type="text" name="header" class="form-control" style="width: 50%; margin-bottom: 10px;" required>
            <textarea style="width: 50%" id="" cols="30" rows="10" name="postBody" required></textarea>
            <input type="submit" id="submitButton" class="btn btn-primary" value="submit">
        </form>
    </div>

    <div id="allPosts">
    </div>
    <script src="{% static 'network/loadContent.js' %}" ></script>
    <script src="{% static 'network/FollowingJS/loadAllPosts.js' %}"></script>
    {% else %}
    <h1>Log in to see posts</h1>
    {% endif %}
    
{% endblock %}
