body
{
    margin-left: 20px;
    margin-right: 20px;
}

.ViewSelectors
{
    margin-top: 10px;
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 10px;
    width:100%;
    border-collapse: collapse;
    height: 90px;
}

.ViewSelector
{
    color: white;
    cursor: pointer;
    margin-top: 10px;
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border-collapse: collapse;
    justify-content: center;

}
.followUserButtons
{
    background-color: lightcyan;
    color: black;
}
.pointerCursor
{
    cursor: pointer;
}

.PostBlockMain
{
    width: 100%;
    border: 1px solid blanchedalmond;
    padding: 20px;
    border-radius: 6px;
}
#allPosts
{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 200px);
    grid-auto-flow: dense;
    row-gap: 3rem;
    column-gap: 1.7rem;
  
}

textarea
{
    padding: 5px;
    border-radius: 6px;
}

.LeftDivs
{
    display:inline-block;
}
.RightDivs
{
    text-align: right;
}

.subPosts 
{
    transition: transform .2s;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 11px;
    color: rgb(31, 29, 26);
    background-color: #EBD2D7;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    overflow: hidden;
    cursor: pointer;
}
.LeftDivs > p
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subPosts:nth-child(4n)
{
    grid-column: span 2;
    grid-row: span 2;
}
.subPosts:nth-child(2n)
{
    background-color: #9477cb;
}
.subPosts:nth-child(3n)
{
    background-color: rgb(22, 216, 151);
}
.subPosts:nth-child(6n)
{
    background-color: gold;
    color: black;
}
.subPosts:nth-child(10n)
{
    grid-column: span 1.5;
    grid-row: span 1.5;
}
body
{
    background-color: #E4A199;
}

.subPosts:hover
{
    opacity: 0.8;
    transform: scale(1.09);
}

#overlay
{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 99; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    display: grid;
    place-items: center;
}
#editPostBG
{
    border-radius: 10px;
    padding: 30px;
    cursor: default;
    width: 80%;
    height: 80%;
    z-index: 100;
    color: black;
}

.headerComment
{
    text-align: center;
}
.posterComment
{
    text-align: right;
}
.bodyComment
{
    padding-bottom: 10px;
    margin: 3px 0px; 
    border-bottom: 1px solid black;
}

